*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation:shackbody linear .6s infinite;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    position: absolute;
    background-repeat: no-repeat
}
.trees{
    height:100vh ;
    width: 100%;
    background-image: url(trees.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -26vh;
    position: absolute;
}
.track{
    height:60vh ;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    top: 60vh;
    position: absolute;
    animation: trackmove linear .6s infinite;
}
.car{
    height:80PX;
    width: 380PX;
    background-image: url(car_body.png);
    background-size: cover;
    position: absolute;
    top: 50vh;
    left:50vh ;
    animation: shack linear .6s infinite;
}

.wheelleft img{
    width: 70px;
    position: relative;
    top: 40px;
    left: 45px;
    animation: wheelrotate linear .6s infinite;
}
.wheelright img{
    width: 76px;
    position: relative;
    top: -34px;
    left: 235px;
    animation: wheelrotate linear .6s infinite;
}

@keyframes  wheelrotate
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes  trackmove
{
    100%{
        transform:translateX(-500vw);
    }
}
@keyframes shack
{
    0%{
        transform:translateY(-5px);
    }
    50%{
        transform:translateY(5px);
    }
    100%{
        transform:translateY(-5px);
    }
}
@keyframes shackbody
{
    0%{
        transform:translateY(-5px);
    }
    50%{
        transform:translateY(5px);
    }
    100%{
        transform:translateY(-5px);
    }
}
